
@charset "UTF-8"

$border-color: rgba(32, 255, 26, 1);
$border-style: solid 1px $border-color;

.filelist-header {
	position: relative;
	width: 100%;
	height: 35px;
	line-height: 25px;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	color: Snow;
	font-size: 1.2em;
	background-color: $border-color;
}

.filelist {
	position: relative;
	height: 740px;
	overflow: auto;
	border-bottom: $border-style;

	.file-entry {
					
		padding: 10px;
		border-bottom: solid 1px $border-color;	

		&:hover {
			background-color: Yellow;
		}
					
		.fileName {
			font-weight: 0.8;
			margin: 5px;
		}

		.fileSize {
			width: 40%;
			overflow: hidden;
			font-weight: 0.8;
			font-size: 0.9em;
			color: rgba(130, 130, 130, 1);
			margin-left:  5px;
		}

		.fileColorLabel {
			position: relative;
			width: 20px;
			height: 20px;
			float: right;
			margin-top: -30px;
		}
	}
}
			
.file-api {
				
	position: relative;
	float: right;
	width: 40%;
	height: 25px;
	cursor: pointer;

	.file {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
		z-index: 2;
		top: 0px;
		right: 0px;
		margin: 0px;
		cursor: pointer;
					
	}

	.file-add-button {
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0px;
		border: none;
		background: $border-color;
		color: Snow;
		font-size: 1.05em;
	}				
}


