
@charset "UTF-8";

//variables
$vendor-prefixes: -webkit-, -moz-, -ms-, -o-, ' ';


//$background-color: rgba(20, 20, 20, 1);
$background-color: rgba(255, 255, 255, 1);
$border-color: rgba(32, 255, 26, 1);
$border-style: solid 1px $border-color;

$layout-height: 1063px;
$layout-min-width: 1200px;

$gmap-height: 740px;



//mixins
@mixin vendor-depend-property ($property, $value) {
	@each $prefix in $vendor-prefixes {
		#{$prefix}#{$property}: $value;
	}
}

@mixin display-box {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: box;
}

//layout
* {
	margin: 0px;
	padding: 0px;
}

body {
	min-width: $layout-min-width;
	height: $layout-height;
	overflow: auto;
	padding: 0px;
	margin: 0px;
}

#app {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0px auto;
	background-color: $background-color;
	flex-wrap: wrap;
	@include display-box;
	@include vendor-depend-property(box-pack, justify);



	
	#tools {
		position: relative;
		width: 400px;
		height: 100%;
		border-right: $border-style;
		padding: 15px;
	}

	#map {
		
		position: relative;
		height: 100%;
		@include vendor-depend-property(box-flex, 1.0);
		flex: 1 0 auto;
		text-align: center;


		#google-map {
			position: relative;
			min-width: 400px;
			width: 90%;
			height: $gmap-height;
			border: solid 4px $border-color;
			box-sizing: border-box; 
			margin: 25px auto;
			margin-top: 50px;
			padding: 0px;

			#google-map-overlay {
				position: relative;
				width: 100%;
				height: 100%;
				margin: 0px;
				border: none;
				z-index: 100000;

				#map-information {
					position: fixed;
					right: 5px;
					top: 5px;
					width: 80px;
					height: 30px;
					border: $border-style;
					z-index: 10000000;
					font-size: 3em;
					color: $border-color;
				}

			}
			
		}
		
		
		#slider-box {
			position: relative;
			width: 90%;
			margin: 0px auto;
		}

	}
		

	#datas {
		position:relative;
		width: 300px;
		height: 100%;
		min-width: 300px;
		border-left: $border-style;
		
		#user {
			position: relative;
			width: 100%;
			height: 80px;
			border-bottom: $border-style;
			@include display-box;

			#user-icon {
				position: relative;
				width: 80px;
				height: 80px;
			}

			#user-name-block {

				position :relative;
				@include vendor-depend-property(box-flex, 1.0);
				
				#user-name {
					position: relative;
					width: 100%;
					height: 20px;
					text-align: center;
					line-height: 20px;
					vertical-align: middle;
					font-size: 1.5em;
					margin-top: 15px;
					color: $border-color;
					
				}

				#logout {
					position: relative;
					text-align: center;
					width: 100%;
					height: 40px;
					line-height: 40px;
					vertical-align: middle;
					font-size: 0.7em;
					@include vendor-depend-property(box-flex, 1.0);
				}
			}

			
		}

		#file-list-box {

			position: relative;
			height: 830px;
			
			#filelist-header {
				position: relative;
				width: 100%;
				height: 25px;
				line-height: 25px;
				padding: 5px;
				text-align: center;
				vertical-align: middle;
				color: Snow;
				font-size: 1.2em;
				background-color: $border-color;
			}

			#filelist {
				position: relative;
				height: 740px;
				overflow: auto;
				border-bottom: $border-style;

				

				.file-entry {
					
					padding: 10px;
					border-bottom: solid 1px $border-color;	

					&:hover {
						background-color: Yellow;
					}
					
					.fileName {
						font-weight: 0.8;
						margin: 5px;
					}

					.fileSize {
						width: 40%;
						overflow: hidden;
						font-weight: 0.8;
						font-size: 0.9em;
						color: rgba(130, 130, 130, 1);
						margin-left:  5px;
					}

					.fileColorLabel {
						position: relative;
						width: 20px;
						height: 20px;
						float: right;
						margin-top: -30px;
					}
				}
			}
			
			#file-api {
				
				position: relative;
				float: right;
				width: 40%;
				height: 25px;
				cursor: pointer;

				#file {
					position: absolute;
					width: 100%;
					height: 100%;
					opacity: 0;
					filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
					z-index: 2;
					top: 0px;
					right: 0px;
					margin: 0px;
					cursor: pointer;
					
				}

				#file-add-button {
					position: relative;
					width: 100%;
					height: 100%;
					margin: 0px;
					border: none;
					background: $border-color;
					color: Snow;
					font-size: 1.05em;
				}

				
			}
			
		}
	}

}



