
@charset "UTF-8";

//variables
$vendor-prefixes: -webkit-, -moz-, -ms-, -o-, ' ';
$slider-color: rgba(32, 255, 26, 1);
$border-color: rgba(32, 255, 26, 1);
$border-style: solid 1px $border-color;
$background-color: rgba(255, 255, 255, 1);

//mixins
@mixin vendor-depend-property ($property, $value) {
	@each $prefix in $vendor-prefixes {
		#{$prefix}#{$property}: $value;
	}
}

@mixin display-box {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: box;
}


@mixin range-track {
	width: 100%;
	height: 2px;
	vertical-align: middle;
	background-color: $slider-color;
}

@mixin range-thumb {
	width: 10px;
	height: 15px;
	background-color: $slider-color;
	vertical-align: middle;
}

	
input[type="range"] {
	@include vendor-depend-property (appearance, none);
	@include range-track;
}

input[type="range"]::-moz-range-track {
	appearance: none;
	@include range-track;

}
	
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	@include range-thumb;
}	

input[type="range"]::-moz-range-thumb {
	-moz-appearance: none;
	@include range-thumb;
}


#slider {
	position :relative;
	width: 100%;
}


#slider-controllers {
	position: relative;
	width: 100%;
	height: 40px;
	margin-top: 20px;
	padding: 0px;
	text-align: left;
	@include display-box;


	.slider-button {
		position: relative;
		width: 60px;
		height: 100%;
		margin: 0px;
		border: $border-style;
		box-sizing: border-box;
		background-color: $background-color;
		cursor: pointer;

		&:hover {
			background-color: Yellow;
		}
	}

	#reset-button {
		background: url('../images/reset.png') no-repeat;
		background-size: 35px 25px;
		background-position: center center;
	}

	#play-button {
		background: url('../images/play.png') no-repeat;
		background-size: 30px 25px;
		background-position: center center;
	}

	#pause-button {
		background: url('../images/pause.png') no-repeat;
		background-size: 25px 20px;
		background-position: center center;
	}
				
	.labeled-text-box {
		position: relative;
		width: 60px;
		height: 100%;
		margin: 0px;
		box-sizing: border-box;
		z-index: 1;
		margin-left: 6px;
	
		.text-box-label {
			position: relative;
			width: 100%;
			height: 15px;
			color: Snow;
			background-color: $border-color;
			box-sizing: border-box;
			font-size: 0.8em;
			padding: 1px;
			text-align: center;
		}

		#speed-text {
			position: relative;
			float: left;
			width: 60px;
			height: 25px;
			margin: 0px;
			border: $border-style;
			box-sizing: border-box;
			font-size: 1.1em;
			text-align: center;
			color: $border-color;
		}
	}

	#value-indicator {
		position: absolute;
		width: 220px;
		height: 40px;
		right: 0px;
		border: solid 2px $border-color;
		box-sizing: border-box;
		line-height: 40px;
		vertical-align: middle;
		font-size: 1.1em;
		color: $border-color;
		text-align: center;
	}
				
}

