<!DOCTYPE html>
<html ng-app="geovisualizer">

<head>
	<title>GeoVisualizer</title>
	<meta charset="UTF-8">
	<meta name="keywords" content="GeoLife, Visualizer">
	<meta name="author" content="Saint1991">

	<link rel="stylesheet" href="./css/reset.css">
	<link rel="stylesheet" href="./css/layout.css">
	<link rel="stylesheet" href="./css/slider.css">
	<link rel="stylesheet" href="./css/modal.css">

	<!-- External JS Libraries and Frameworks -->
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&region=JP&key=AIzaSyDYtJlnzSgEozBhLwcBZttRzLGN07o2DDo"></script>
	<script type="text/javascript" src="./bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="./bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="./bower_components/angular-uuid4/angular-uuid4.js"></script>
</head>

<body>

<div id="app" ng-controller="appController">

	<!-- ページ左のツールボックス -->
	<div id="tools">
		tools
	</div>

	<!-- 中央のMapView -->
	<div id="map" >
		
		<div id="google-map" google-map ng-transclude ng-controller="mapController" center="[39.9039, 116.4074]" zoom="13"></div>

		<div id="slider-box">
			<input id="slider" type="range" min="0" value="0"/>
		</div>

		<div id="map-footer"></div>
	</div>

	<!-- ページ右部の読み込みファイル一覧 -->
	<div id="datas">

		<div id="user">
			<div id="user-icon">icon</div>
			<div id="user-name">name</div>
		</div>

		<div id="file-list-box" ng-controller="filelistController">
			<div id="filelist-header">Loaded Files</div>
			<div id="filelist" ng-model="fileList">
				<ul>
					<li ng-repeat="file in fileList" class="file-entry">
						<div class="fileName">{{file.name}}</div>
						<div class="fileSize">{{file.size}} Byte</div>
					</li>
				</ul>
			</div>

			<div id="file-api" >
				<input id="file" type="file" multiple="true" name="fileList" data-file-change="filelistChanged($event, files);" accept="text/plain, text/xml, .plt">
				<input type="button" id="file-add-button" value="Add" >
			</div>	
		</div>
	</div>	

</div>

<!-- my implementations -->
<script type="text/javascript" src="./js/module.js"></script>
<script type="text/javascript" src="./js/utils/modal.js"></script>
<script type="text/javascript" src="./js/services/file-parser.js"></script>
<script type="text/javascript" src="./js/models/SharedService.js"></script>
<script type="text/javascript" src="./js/models/dataFactory/GeoLife/geoLifeDataFactory.js"></script>
<script type="text/javascript" src="./js/controllers/app-controller.js"></script>
<script type="text/javascript" src="./js/controllers/map-controller.js"></script>
<script type="text/javascript" src="./js/controllers/filelist-controller.js"></script>
<script type="text/javascript">
	
	var mapOverlay = document.getElementById('google-map-overlay');
	var context = mapOverlay.getContext('2d');
	context.beginPath();
	context.font = 'test';
	context.fillStyle = "green";
	context.fillText("left", 500, 500)

</script>
</body>

</html>